[
  {% set ns = namespace(attribute_ids = [], entity_ids = []) %}
  {% for entity in input.Entities %}
    {% set entityLoop = loop %}
    {% set _ = ns.entity_ids.append(entity.Id) %}
    {% if entity.Attributes is defined %}
      {% set ns.has_attributes = True %}
    {% endif %}
    {
      "label": "{{ entity.Type }}",
      "start_offset": {{ entity.BeginOffset }},
      "end_offset": {{ entity.EndOffset }},
      "to_id": {{ entity.Id }},
      "relations": [
      {% if entity.Attributes is defined %}
      {% for attribute in entity.Attributes %}
        {
          "from_id": {{ attribute.Id }},
          "relation_type": "{{ attribute.RelationshipType }}"
        }{% if not loop.last %},
        {% endif %}
        {% if attribute.Id not in ns.attribute_ids %}
          {% set _ = ns.attribute_ids.append(attribute.Id) %}
        {% endif %}
      {% endfor %}
      {% endif %}

      ],
      "traits": [
      {% for trait in entity.Traits %}
        {
          "entity_id": {{ entity.Id }},
          "trait_type": "{{ trait.Name }}"
        }{% if not loop.last %},
        {% endif %}
      {% endfor %}

      ]
    }{% if not loop.last %},
    {% endif %}
  {% endfor %}
  {% set ns.attribute_ids = ns.attribute_ids|unique|list %}
  {% for id in ns.attribute_ids %}
    {% if id in ns.entity_ids %}
      {% set ns.attribute_ids = ns.attribute_ids | reject('equalto', id) %}
    {% endif %}
  {% endfor %}
  {% for entity in input.Entities %}
    {% if loop.first and ns.attribute_ids | length > 0 %},
    {% endif %}
    {% if entity.Attributes is defined %}
      {% for attribute in entity.Attributes %}
        {% if attribute.Id not in ns.entity_ids %}
          {
            "label": "{{ attribute.Type }}",
            "start_offset": {{ attribute.BeginOffset }},
            "end_offset": {{ attribute.EndOffset }},
            "to_id": {{ attribute.Id }},
            "relations": [],
            "traits": [
              {% for trait in attribute.Traits %}
                {
                  "entity_id": {{ attribute.Id }},
                  "trait_type": "{{ trait.Name }}"
                }{% if not loop.last %},
                {% endif %}
              {% endfor %}
            ]
          }{% set ns.attribute_ids = ns.attribute_ids | reject('equalto', attribute.Id) | list %}
          {% if ns.attribute_ids|count > 0 %},
          {% endif %}
          {% set _ = ns.entity_ids.append(attribute.Id) %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% if input.UnmappedAttributes is not none and input.UnmappedAttributes|length > 0  %},
    {% for UmAttributes in input.UnmappedAttributes %}
    {% set umEntityLoop = loop %}
      {
        "label": "{{ UmAttributes.Type }}",
        "start_offset": {{ UmAttributes.Attribute.BeginOffset }},
        "end_offset": {{ UmAttributes.Attribute.EndOffset }},
        "to_id": {{ UmAttributes.Attribute.Id }},
        "relations": [],
        "traits": [
        {% for trait in UmAttributes.Attribute.Traits %}
          {
            "entity_id": {{ UmAttributes.Attribute.Id }},
            "trait_type": "{{ trait.Name }}"
          }{% if not loop.last %},
          {% endif %}
        {% endfor %}
        ]
      }{% if not loop.last %},
      {% endif %}
    {% endfor %}
  {% endif %}

]